// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

h1 {
  padding-left: 32px;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 16px;
}
